@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@font-face {
	font-family: 'FonteLogo';
	src: url(../_fonts/bubblegum-sans-regular.otf);
}
/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
   0% {
     -webkit-transform: scale(0.5);
             transform: scale(0.5);
   }
   100% {
     -webkit-transform: scale(1);
             transform: scale(1);
   }
 }
 @keyframes scale-up-center {
   0% {
     -webkit-transform: scale(0.5);
             transform: scale(0.5);
   }
   100% {
     -webkit-transform: scale(1);
             transform: scale(1);
   }
 }
 .scale-up-center {
 	-webkit-animation: scale-up-center 2s ;
 	        animation: scale-up-center 2s ;
 }  